.sc-player {
	position: relative;
	width: 100%;
}

.sc-player ol,
.sc-player li {
	list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list {
	background-color: transparent;
	height: 320px;
	list-style-type: none;
	width: 100%;
}

.sc-player .sc-artwork-list li {
	display: none;
}

.sc-player .sc-artwork-list li.active {
	display: block;
}

.sc-player .sc-artwork-list li img,
.sc-player .sc-artwork-list li div {
	width: 100%;
	height: 100%;
}

/* controls */

.sc-player .sc-controls {
	position: absolute;
	top: 160px;
	left: 50%;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	width: 50px;
}

.sc-player .sc-controls a {
	display: block;
	height: 50px;
	width: 50px;
}

.sc-player .sc-controls a.sc-pause {
	display: none;
}

.sc-player.playing .sc-controls a.sc-play {
	display: none;
}

.sc-player.playing .sc-controls a.sc-pause {
	display: block;
}

/* scrubber */

.sc-scrubber {
	height: 4px;
	position: absolute;
	top: 320px;
	left: 0;
	width: 320px;
}

.sc-scrubber .sc-time-span {
	height: 4px;
	position: relative;
}

.sc-scrubber .sc-buffer,
.sc-scrubber .sc-played {
	height: 4px;
	position: absolute;
	top: 0;
}

.sc-scrubber .sc-time-indicators {
	display: none;
}

/* volume control */
.sc-volume-slider {
	display: none;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist {

}

.sc-player ol.sc-trackslist li {
	cursor: pointer;
	margin: 0;
	padding: 10px;
}

/* Track info*/

.sc-player .sc-info {
	height: 300px;
	overflow: auto;
	padding: 10px;
	position: absolute;
	top: 10px;
	left: -5000px;
	z-index: 500;
	width: 300px;
}

.sc-player .sc-info.active {
	left: 0;
	top: 0;
}

.sc-player .sc-info-toggle {
	position: absolute;
	top: 282px;
	right: 10px;
}

.sc-player .sc-info-toggle.active {
	opacity: 0;
}

.sc-player .sc-info-close {
	position: absolute;
	top: 0;
	left: 0;
}

/* utilities */

.sc-player .hidden {
	display: none;
}

.sc-player-engine-container {
	width: 1px;
	height: 1px;
	position: fixed;
	top: 2px;
	left: 2px;
}
